@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$global-font: "Montserrat", sans-serif;
$second-font: "Merriweather, serif";

$header-info-padding: 16px;
$header-info-background-color: rgb(17, 17, 17);
$header-info-height: 36px;

$bottom-info-height: 70px;
$bottom-info-padding: 40px;
$bottom-info-border-color: #aeb3bf;


